<header class="navbar navbar-default">
  <div class="container">
    <nav>
      <div class="navbar-header">
        <%= link_to image_tag("goodreads-logo.svg"), root_path, id: "logo" %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "People", users_path if logged_in? %></li>
      </ul>
      <% if logged_in? %>
        <%= render 'shared/header_logged_in' %>
      <% else %>
        <%= render 'shared/header_default' %>
      <% end %>
    </nav>
  </div>
  <script>

  </script>
</header>